.hero-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20%;

  .header-wrapper {
    position: relative;
    padding-top: 30%;
    height: 40%;
  }

  background-color: $color-valorant-dark;

  header {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 5%;

    h1 {
      font-family: $font-h1;
      font-weight: 700;
      font-size: 3.2rem;
      color: $color-valorant-cream;
    }
    p {
      font-size: 1.6rem;
      font-family: $font-secondary;
      color: #cccccc;
    }
  }

  .search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 5%;
    .search-input {
      border: solid black 1px;
      height: 6rem;
      width: 90%;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      font-family: $font-secondary;
      background-color: $color-valorant-cream;
      padding-left: 1rem;

      &::placeholder {
        position: relative;

        font-family: $font-secondary;
        font-size: 1.6rem;
      }
    }
  }
}

.top-player-wrapper {
  height: 100%;
  font-size: $font-secondary;
  font-size: 1.6rem;
  color: white;
}
